[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wyw100
[access "refs/for/refs/*"]
	read = group user/wyw100
	push = group user/wyw100
	label-Code-Review = -2..+2 group user/wyw100
	label-Verified = -1..+1 group user/wyw100
	rebase = group user/wyw100
	removeReviewer = group user/wyw100
	submit = group user/wyw100
[access "refs/heads/*"]
	read = group user/wyw100
	create = group user/wyw100
	push = +force group user/wyw100
	pushMerge = group user/wyw100
[access "refs/tags/*"]
	push = +force group user/wyw100
	pushTag = group user/wyw100
	pushSignedTag = group user/wyw100
